[2011-10-10 20:16] gaurav opened #1 "Merge PostgreSQL metadata, geometry and Google App Engine metadata exports"
We're going to clean up our bulkloading process and set it up as:
1. For each shapefile:
   1. Create metadata CSV (for ALL rows in this shapefile)
   2. Bulkload to PostgreSQL (by doing a COPY FROM CSV ...). This will give the rows unique 'id's.
   3. Bulkload to Google App Engine  (by doing a single COPY TO CSV .. WHERE prov=p, coll=c, filename=f)
      1. Run shp2pgis.sql on shapefile -> temp t

[2011-10-11 00:43] gaurav commented on #1
As of @ce6c4ab0615ded0, steps 1-3 are done, pretty much exactly as anticipated. Now we just need to get the shapefile SQL in (steps 4-5), and we're done with this!

[2011-10-15 03:54] gaurav opened #2 "Replace ogr2ogr with GDAL (was: pyshp)"
pyshp is a Python-only library for manipulating shapefiles. Since we're already incorporating it to create a dummy DBF file for @eightysteele's shapefile-to-PostGIS hack, it might make sense to read the fields directly from the shapefiles using pyshp instead of relying on GDAL being installed to handle the DBF-to-CSV transformation. It would also be handy in evolving loader.py into an independent

[2011-10-24 01:11] gaurav commented on #1
Cody and I discovered today that the blank-DBF hack essentially deletes all the information in the SHP file, possibly as it tries to reconcile DBF records with the SHP file.

I tried to fix that in @ad85caee6fdc by replacing pyshp with ogr2ogr - it's a big change, but (1) makes us reliant on only a single program, and (2) ogr2ogr's output has the PostGIS hash in the _first_ column, so we can extra

[2011-10-29 07:00] gaurav commented on #1
Okay, the problem we had getting the COPY of geometrical data to PostgreSQL to work seems to have been sorted out as of @4f94660f7b15. Next up: try to get the ogr2ogr file limit lifted.

[2011-10-29 07:44] gaurav opened #3 "Modify the app to use the metadata stored in the LayerIndex"
The LayerIndex stores information on each layer in the database. We need to modify the app to use the metadata stored in LayerIndex directly.

[2011-10-31 20:24] eightysteele opened #4 "loader.py should be idempotent"
Running loader.py multiple times duplicates data in postgresql. Needs command line option for updating or ignoring based on provider-collection-filename constraint.

[2011-10-31 23:06] gaurav commented on #4
Crap, I thought I'd fixed this. I'll assign this to myself once I'm back "on the job" later tonight.

[2011-10-31 23:13] gaurav opened #5 "Develop an analysis pipeline"
The goal for this issue is to construct an internal analysis pipeline so that calculated raster layers can be provided to the user. This involves (copied from @DanRosauer's notes from our meeting last weekend - see the "Map of Life - Meeting Notes" Google document for further information):
- a Python process (e.g. “process.py”) to pre-compute a presence matrix in the PostgreSQL db summarising the

[2011-10-31 23:34] gaurav commented on #5
Further information about this task:
1. We do not have to worry about ingesting rasters at this point, only in allowing rasters to be generated by analysis programs internally and stored in the database.
2. Quad id are unique to a grid, so cell 1201 in grid 360x114 will always point to the same lat/long coordinates. It might be easier to map quad ids to lat/long and render them using information a

[2011-11-03 01:32] gaurav commented on #4
Ha, you commented out the line which was deleting the previous provider/collection information (see [https://github.com/MapofLife/MOL/commit/b6e063376b8059b7ac2ffe1a89fc2863451c45a7#L1L477](this edit)). This should be fixed in @d9e22b150949c24 - give it a try when you can and let me know if it works for you.

Note that I'm replacing data at the collection level. I think this is the right level, si

[2011-11-03 01:38] gaurav commented on #2
We've temporarily given up on pyshp, and are back to using ogr2ogr for all tasks. I would like to see EITHER:
1. We replace ogr2ogr with [GDAL](http://pypi.python.org/pypi/GDAL/), so we don't have to figure out paths and depend on ogr2ogr's command line interface not changing, OR:
2. We replace ogr2ogr with pyshp after all, since it is a pure-Python library and so ought to be incredibly portable.

[2011-11-03 02:17] gaurav opened #6 "Update website content and add Google Analytics code to each page"
We need to update website content (to add me!), and to add Google Analytics to the standard template to track people visiting mappinglife.org.

[2011-11-06 00:03] gaurav opened #7 "Which 'provider' should we use?"
A quick question. We have three options which we can use to determine the 'provider' in our database:
1. config.yaml currently has a 'Source' section, which isn't really used for anything. We could use the 'name' section of that.
2. We could add 'provider' as a required field to config.yaml.
3. We could use the directory name ('iucn', 'jetz', etc.)

Any votes on which one we should use? So far, we

[2011-11-10 19:24] eightysteele opened #8 "Modify loader.py to use dbfname from FT"
Right now loader.py uses `fieldname` column from our FT:
http://www.google.com/fusiontables/DataSource?dsrcid=1999452

Instead, let's use `dbfname` column so that GeoJSON and exported shapefile DBFs have consistent column names.

[2011-11-10 19:27] eightysteele opened #9 "Modify loader.py to include type (range, protected area, ecoregion)"
This is needed in the UI for filtering on type.

[2011-11-10 19:30] eightysteele commented on #9
Ok, I see that `type` is in config.yaml, but we need standardized names maybe?

range
ecoregion
protectedarea

[2011-11-10 22:51] gaurav commented on #9
I think it's safe to "make up a spec" for now, maybe even just in this comment thread, by linking back to your comment on this issue when you use that term in the code. At some point we need to make a big push for controlled vocabularies; once we make it through this bit of development (integration + analyses workflow), maybe I'll "peel off" and go work on that in mid-November or so, depending on

[2011-11-11 15:55] eightysteele opened #10 "Getting Unicode data into CartoDB"
We have a unicode problem going from config.yaml to GeoJSON to CartoDB.

Example, in the IUCN config.yaml file:

`title: "UCN Red List™ of Threatened Species"`

In the GeoJSON output:

`"title": "IUCN Red List\u2122 of Threatened Species"`

In CartoDB:

`IUCN Red Listâ¢ of Threatened Species`

[2011-11-11 17:21] eightysteele opened #11 "loader.py memory management"
loader.py stores GeoJSON features in a all_features list. When processing many shapefiles this gets too big and the program exits.

[2011-11-11 19:42] gaurav commented on #11
I'm planning to work on this tomorrow.

[2011-11-11 19:44] eightysteele commented on #11
Solved via file streaming. Will push.
On Nov 11, 2011 11:42 AM, "Gaurav Vaidya" <
reply@reply.github.com>
wrote:

[2011-11-12 00:19] #11 closed, assigned to gaurav

[2011-11-12 01:28] eightysteele commented on #8
Gaurav fixed this.

[2011-11-12 01:28] #8 closed, assigned to gaurav

[2011-11-12 01:29] eightysteele commented on #3
New GeoJSON output eliminates the need for LayerIndex. Closing issue.

[2011-11-12 01:29] #3 closed, assigned to nobody

[2011-11-12 01:29] #1 closed, assigned to gaurav

[2011-11-12 01:30] eightysteele commented on #2
No longer relevant with new loader architecture. Closing issue.

[2011-11-12 01:30] #2 closed, assigned to nobody

[2011-11-12 01:31] eightysteele commented on #6
@gaurav: Is this done?

[2011-11-12 01:33] eightysteele commented on #7
@gaurav: I think the terminology that we've been using for "provider" is "source". Can we modify loader.py and config.yaml and FT to use "source" instead of "provider"?

[2011-11-12 01:36] eightysteele opened #12 "OAuth support in loader.py"
Accessing private CartoDB tables will require OAuth support in loader.py. I forked the CartoDB Python client which we can modify as needed:

https://github.com/MapofLife/cartodb-python

[2011-11-12 01:38] eightysteele opened #13 "loader.py bulkloading to CartoDB"
Right now loader.py produces a GeoJSON document per source which can be manually uploaded to CartoDB. We'll want to automate this by bulkloading directly to CartoDB from loader.py. There are a couple of options here:

http://support.cartodb.com/discussions/questions/14-importexport-api

[2011-11-12 01:40] eightysteele opened #14 "Modify UI to hit CartoDB for tiling and search"
Title says it all.

[2011-11-12 01:41] eightysteele opened #15 "Layer color styling in UI"
Surface UI control for styling layers. Implement styling using the canvas CartoCSS technique.

[2011-11-12 01:45] eightysteele opened #16 "Points solution with CartoDB"
On Linode create a points API that harvests points and loads them to CartoDB.

[2011-11-12 01:45] eightysteele opened #17 "CartoDB installation on Linode"
Install CartoDB on Linode. Chef cookbook it.

[2011-11-13 19:16] gaurav commented on #6
Thanks for the reminder! This is done as of @4b9280562b. I'll close this bug once I've confirmed that the analytics code is actually collecting data.

[2011-11-13 19:28] gaurav commented on #13
I wonder if it's feasible to upload the GeoJSON document directly to CartoDB, as an HTML form upload, then screen-scrape to figure out which table it was saved as? Probably not, unless CartoDB's planned import/export API gets pushed further into the future.

Also, this might possible be unnecessary if it's easier to COPY the data directly into the underlying PostgreSQL database once we have our ow

[2011-11-13 22:09] gaurav commented on #10
As of @dd88640, GeoJSON is now being correctly written in UTF-8. Unfortunately, CartoDB is still not reading UTF-8 correctly. At first I thought that was an encoding problem at their end, but they [do support UTF-8](http://support.cartodb.com/discussions/problems/18-import-hang#comment_10949091). I'll try to find the smallest bit of code that fails, and see if I can figure out what's going on ther

[2011-11-15 05:06] gaurav commented on #6
Okay, this seems to be working okay. Rob, Walter, Aaron and Tuco should all have access to the Analytics page now. Closing.

[2011-11-15 05:06] #6 closed, assigned to gaurav

[2011-11-17 07:33] eightysteele opened #18 "Implement CartoTileLayer abstract functions"
bounds(), show(), hide(), et al.

[2011-11-17 07:34] eightysteele opened #19 "CartoTileLayer performance and styling"
Squeeze out the performance issue and wire in the canvas styling.

[2011-11-17 23:21] gaurav commented on #10
I've confirmed that a small UTF-8 encoded GeoJSON file (https://gist.github.com/1374824) cannot be uploaded to CartoDB without messing up the text, and reported this to Vizzuality as http://support.cartodb.com/discussions/problems/66-geojson-import-doesnt-get-utf-8-right.

[2011-11-18 21:16] gaurav commented on #10
Vizzuality have confirmed that it's a bug on their end (issue: https://github.com/Vizzuality/cartodb/issues/328). They've already implemented and deployed a fix which transcribes non-ASCII characters (i.e. "®" becomes "(R)"). This isn't good enough for Map of Life 1.0, but might be good enough for us right now. I've asked them for when this bug might be completely eliminated; if they plan to make

[2011-11-27 04:30] eightysteele commented on #19
Falling back to Maps API styling. Closing issue.

[2011-11-27 04:30] #19 closed, assigned to bernardw

[2011-11-27 04:30] eightysteele commented on #18
Falling back to Maps API styling. Closing issue.

[2011-11-27 04:30] #18 closed, assigned to eightysteele

[2011-11-27 04:31] eightysteele commented on #17
Done. Not chef cookbooking it at the moment. Closing issue.

[2011-11-27 04:31] #17 closed, assigned to eightysteele

[2011-11-27 04:32] eightysteele opened #20 "Surface layer metadata via CartoDB SQL API"
Breathe new life into metadata viewer or something new.

[2011-11-27 04:33] eightysteele opened #21 "Patch WS-CDB Maps API to support styling"
W00t.

[2011-11-27 04:34] eightysteele opened #22 "UI support for adding CartoDB layers"
Users should be able to add their own CartoDB layers on the map. This requires database name and table name. OAuth support should be supported for private tables down the line.

[2011-11-27 04:36] eightysteele commented on #15
UI control done, not using canvas technique at the moment. Falling back to Maps API styling but need to patch WS-CDB for this.

[2011-11-27 09:20] gaurav commented on #9
Adding one more: "pointoccurrence", for point occurence data.

[2011-11-27 16:30] eightysteele commented on #9
+1

[2011-11-27 18:48] eightysteele opened #23 "Infowindows and interactivity layers"
Hook these up via the cdb Maps API.

[2011-11-28 23:25] gaurav opened #24 "How do we handle multiple types of uploads to CartoDB?"
Historically, loader.py was designed to be run in a particular directory, and to bulkupload all the data it could find (stored as subfolders, each with their own `config.yaml` file. However, since we now support both polygon and point geometries, and since a table in CartoDB can only support a single type of geometry (point, line or polygon, but this might be changeable by fiddling with PostGIS vi

[2011-12-02 01:54] gaurav commented on #13
This is now mostly done, barring a bunch of bugs which may or may not be due to the internet connection (so not quite ready to close, but substantially ready). There is also issue #24 to figure out.

One last thing we need to get working is to get it uploading to moldb.io. I've started work on this by using our fork of cartodb-python [as of @cd100aac3f1](https://github.com/MapofLife/cartodb-python

[2011-12-02 01:59] eightysteele commented on #13
Yeah, CartoDB uses this module for servicing SQL API calls: https://github.com/Vizzuality/CartoDB-SQL-API

[2011-12-02 02:12] gaurav commented on #12
One last thing left here: cartodb-python uses oauth2, which bizarrely does not support Unicode. This pull request seems like it'd fix things: https://github.com/simplegeo/python-oauth2/pull/91, but I'm reluctant to add more code into this project unless we have to. Tonight, I'm going to try to get https://github.com/tweepy/python-oauth2 to work for us; it's much more recently-modified (i.e. better

[2011-12-02 21:54] gaurav commented on #13
The inability to use POST (instead of GET) has now been pushed to Vizz: http://support.cartodb.com/discussions/problems/84-postgresql-doesnt-log-in-properly-through-the-sql-api-when-using-post

The moldb.io is showing what appears to be this exact bug on both POST and GET requests; with any luck, Vizz will report that this was a configuration problem, Aaron is reconfigure moldb.io, and we're good

[2011-12-03 21:36] gaurav commented on #10
Good news: we'll probably be able to bypass this by using the SQL API. Bad news: the Oauth2 module we're currently using doesn't support UTF-8 (at least for GET arguments). Hopefully once we get POST working (issue #13), this will Just Work. Otherwise, we'll have to fork and manage the python-oauth2 module, and nobody wants that.

[2011-12-03 21:40] gaurav commented on #12
Unfortunately, tweepy's python-oauth2 has the same version or module name as the simplegeo one, so they overwrite each other, and use a different API. Fun times! I'm going to close this until we get POST working. Once that's done, if the Unicode issues still persist, I'll reopen this. The Unicode issues are covered by issue #10 anyway.

[2011-12-03 21:59] gaurav commented on #4
Fixed as of @c7d66df. I'll test it thoroughly we get POST working (issue #13) so we can test this with polygons, or we get more point-based datasets incorporated. I'll wrap that up later today unless there are higher priority tasks to work on.

[2011-12-04 09:18] gaurav commented on #9
Okay, let's try to fix this once and for all. I'm going to try to use @tucotuco's suggestion in https://github.com/andrewxhill/MOL/issues/108. Note that this is a validation-only step: the database will allow any values for any field.

[2011-12-04 17:25] eightysteele commented on #4
Oops, FHMP.

Explain more? We still need a provider directory that contains multiple collection directories each with a config file and shapefiles. Right?

[2011-12-04 17:26] eightysteele commented on #9
Yeah, let's keep this simple to start. I think we can just add type to the config file. Right? We have range, ecoregion, protectedarea, and occurrencepoints. It's something that providers will specify in the config. Maybe?

[2011-12-04 17:29] eightysteele commented on #12
Reopening because I don't want to forget about this. :) We'll need OAuth support for accessing private tables. Does unicode support in OAuth matter though? Does OAuth touch data or is it just for authentication?

[2011-12-04 17:30] eightysteele commented on #10
Which module are we using? The CartoDB Python client or something else?

[2011-12-04 17:32] eightysteele commented on #13
+1

[2011-12-04 22:11] gaurav commented on #9
How do you mean, in the config? The suggestion I linked to above was to have a Fusion Table containing a set of possible values - with user-friendly definitions, names, or any other details. It shouldn't take too long to sort out - the hardest bit will be communicating with the Fusion Table. We'd also need to signal that a field is constrainted, maybe by setting it's type to 'ConstrainedText' in t

[2011-12-04 22:17] gaurav commented on #12
We _have_ OAuth support, we just don't have a well-mainted OAuth library we can use.

CartoDB (like everybody else) uses https://github.com/simplegeo/python-oauth2, which hasn't been updated since May, and which has a huge number of people submitting fixes to what looks like exactly the UTF-8 bug affecting us. Unfortunately, nobody seems to have properly forked python-oauth2 (every fork I looked a

[2011-12-05 09:03] gaurav commented on #4
Yup. The way we do idempotency right now is, right before uploading collection X for provider P, we delete any existing rows supposedly from collection X and provider P. I just wanted to make sure everybody was aware that we don't do this at the provider level (uploading 'iucn/mammals' won't cause 'iucn/birds' to be deleted) or at the layer level (uploading iucn/mammals/Panthera_tigris will cause

[2011-12-12 10:50] gaurav commented on #9
Okay, I've got this working in theory on branch 'issue9'! Very barely tested, but it's a start! I'll test it more thoroughly in the next few days, and especially once we get POST to CartoDB working. I'll e-mail everybody a link to the Fusion Table tomorrow.

[2011-12-12 10:55] gaurav commented on #10
Oops, sorry, I thought I'd replied here already (I'd actually replied only to issue #12). Here's my answer from there:

I'm planning to spend a bit of time in the next two days (term paper permitting) to try to work around this somehow without forking it entirely, and to see if I can develop the smallest possible test case which meets this condition. Also, it's possible that this bug too will vani

[2011-12-22 06:32] gaurav opened #25 "Update loader.py to support multiple UPDATEs in a single SQL command"
Uploading data line-by-line takes a long time. It should be much faster to send over a single SQL command in the format, "UPDATE x SET ....; UPDATE x SET ....; UPDATE x SET .....;" Shouldn't be too hard to get this working on loader.py. Might be a good idea to get this working on GET for now, or even on non-functional POST, since it's going to be a priority for once we have POST up and running.

[2011-12-22 18:20] gaurav commented on #4
As of @66154cd513a00, we have two datasets and they are being deleted correctly when new collections are uploaded to them. Closing this issue.

[2011-12-22 19:55] gaurav commented on #25
As of @bf40a52, this is working! A test upload managed to upload 2061 rows out of 2066 rows (i.e. 5 rows missing). I think maybe that's one or two rows being too big for upload via GET, but it's hard to tell: it it was a perfect multiple of 6, I'd be pretty sure it'll be fixed once we get POST working (i.e. issue #13), but until then, I'll try to see if I can find a bug in this.

[2011-12-22 22:13] gaurav opened #26 "Accounting of existing data in the MoL system"
An accounting of our current data assets and _exactly_ where they are and in what form.  This includes all range maps , ecoregions, point occurrence data sets, assemblage checklists datasets.  I have been asking for this accounting for a long time and I think it is nigh due.

In our effort to provision more data into MoL, please also take a look here: http://esp.cr.usgs.gov/data/atlas/little/.

I

[2011-12-22 22:26] gaurav commented on #26
Don't upload them without verifying.

[2011-12-31 09:22] gaurav commented on #25
This appears to be working: I just uploaded 2,066 rows 100 rows at a time without missing a single row. I'll try it out on a few more datasets before closing this bug, but I've merged this code into the 'develop' branch for testing (as of @d5e0092225c).

[2012-01-05 23:55] gaurav opened #27 "loader.py should be able to continue a partial upload"
With hundreds of shapefiles and thousands of features to upload, it is no longer feasible for loader.py to upload everything in one go - any error at any point in the process currently requires the entire upload to be repeated.

I propose a simple verification step, which will count the number of features in a particular file. If the count on CartoDB agrees with the count in the file, the data wil

[2012-01-06 00:24] gaurav opened #28 "New syntax required for mapping multiple fields"
Large datasets (such as the MoL range maps dataset) can be inconsistent in their use of field names. For instance, some shapefiles in the MoL range maps dataset use 'Latin', while others use 'Binomial'. We need to modify the config.yaml file so that it can handle this case.

[2012-01-06 00:26] gaurav commented on #5
Is this going to be made redundant by our work on Google's Earth Engine?

[2012-01-10 22:43] gaurav commented on #28
This should be working as of @28d6e83ee3b7, but I'm going to wait until this code is better tested before closing this issue.

[2012-01-11 00:50] gaurav commented on #27
Should be fixed and working as of @aae1e04d. More testing required, then I'll close.

[2012-01-14 23:28] gaurav commented on #28
This seems to be working fine. I'll reopen this if problems show up. The format I've settled for (see an example at https://github.com/MapofLife/MOL/blob/develop/workflow/mol-data/datasets/mol_rangemaps/config.yaml):
  fieldNameA: "A standard, static value for the entire dataset"
  fieldNameB:
    - DBF_FIELD_TO_MAP
  fieldNameC:
    - DBF_FIELD_TO_MAP_2
    - ALTERNATE_DBF_FIELD

This is (I think

[2012-01-14 23:28] #28 closed, assigned to gaurav

[2012-01-14 23:32] gaurav commented on #25
Okay, the log file on our 141,250 uploads has a discrepancy of 5 features (the log indicates that 141,255 features were uploaded). So this isn't ready for testing, but this is hard to replicate on smaller datasets. I will leave this as an outstanding bug for now.

[2012-01-15 00:04] gaurav commented on #13
We _can_ definitely bulk-load to our local CartoDB server. We still have lots of bugs, but those are covered in separate bugs. I don't think there's anything still waiting to be done for this issue which isn't covered by another issue, so I'm closing this one.

[2012-01-15 00:04] #13 closed, assigned to gaurav

[2012-01-15 00:12] gaurav commented on #4
Okay, in trying to implement issue #27 (loader.py needs to be able to continue an incomplete download), idempotency is now broken. It _appears_ to be machine-specific (i.e. computer A can properly identify its own uploads, but computer B cannot). This is probably a bug in the way the hash is being generated; but this is hard to test without having two side-by-side computers. I've started upgrading

[2012-01-15 01:14] gaurav commented on #4
Hmm, new theory: maybe the current date is in there somewhere? Maybe it's not per-machine as much as per-date?

[2012-01-17 04:07] gaurav commented on #4
Okay, I've figured out why this is happening: ogr2ogr produces slightly different coordinates when running on different computers, probably because of floating point machinations. So that should be pretty easy to fix: figure out how many significant digits make sense with decimal latitude/longitude (and especially if we can figure that out from the shapefile somehow), and then truncate or round-of

[2012-01-17 16:04] eightysteele commented on #4
Good find. Maybe truncate to 7?

[2012-01-20 02:16] gaurav commented on #4
I've truncated to 6, which seems to work really well -- a lot of the coordinates are only accurate to two decimal places anyway, so - once rounded off - they end up as "12.230000" or whatever. So far, this _appears_ to be working in terms of the hashes. I've started an upload of the mol_rangemaps from the server. If this does work, it should be a lot easier for me to track down the files which are

[2012-01-26 05:28] eightysteele commented on #20
Closing as stale issue.

[2012-01-26 05:28] #20 closed, assigned to nobody

[2012-01-26 05:28] eightysteele commented on #14
Closing as stale issue.

[2012-01-26 05:28] #14 closed, assigned to eightysteele

[2012-01-26 05:28] eightysteele commented on #15
Closing as stale issue.

[2012-01-26 05:28] #15 closed, assigned to eightysteele

[2012-01-26 05:28] eightysteele commented on #16
Closing as stale issue.

[2012-01-26 05:28] #16 closed, assigned to eightysteele

[2012-01-26 05:32] #24 closed, assigned to gaurav

[2012-01-26 05:32] eightysteele commented on #23
Closing as stale issue.

[2012-01-26 05:32] #23 closed, assigned to nobody

[2012-01-26 05:32] eightysteele commented on #22
Closing as stale issue.

[2012-01-26 05:32] #22 closed, assigned to nobody

[2012-01-26 05:34] eightysteele commented on #7
Bump. Where are we at on this one?

[2012-01-26 08:07] eightysteele opened #29 "Info window clicks"
Clicking on a point or polygon infowindow creates a major disturbance in the force.

[2012-01-26 08:08] eightysteele opened #30 "Search result geometry type"
Search results are typed as points or polygon. Right now points are hardwired in. Need to push type state into display so that onclicks can fire events with proper typing.

[2012-01-26 08:13] eightysteele commented on #30
In particular, this is where type information (in addition to layer name) needs to surface:

https://github.com/MapofLife/MOL/blob/develop/app/js/mol.map.results.js#L152

[2012-01-26 08:35] gaurav opened #31 "MOL homepage content needs to be brought back"
The MOL homepage content was wiped out during Aaron's website cleanup, which is _great_, it was all over the place. But we need to bring it back and test it so we can update the homepage when necessary. Luckily, the 'master' branch has a copy of the code which works fine. @eightysteele has volunteered to do the necessary magicks to bring it back.

Also: a reminder that the content in $repo/homepag

[2012-01-27 19:43] jmalczyk commented on #29
After including some cartodb css and adding an id to the map container, this is working. However, if the map is zoomed out so far that more than 360 degrees of longitude are visible, the info box will appear above the feature closest to the center of the viewport instead of the one clicked on. This is due to a bug in the cartodb-gmapsv3 client. We probably should limit the viewport to 360 degrees

[2012-01-27 19:43] #29 closed, assigned to jmalczyk

[2012-01-27 20:07] eightysteele opened #32 "Replace customized cartodb-gmapsv3.js"
We previously hacked `app/js/lib/cartodb-gmapsv3.js` to work with our CartoDB instance running on Linode. Let's yank that out and replace it with the version in use by our hosted CartoDB instance. Note that `mol.map.tiles.js` will need to be updated.

[2012-01-27 20:45] jmalczyk commented on #32
Fixed by commit 23f58d30448b0fb8563dc5b151f5b6a2c3df6cd1

[2012-01-27 20:45] #32 closed, assigned to nobody

[2012-01-27 20:48] eightysteele commented on #32
LGTM. Also, here's a good style guide for commit messages:

https://github.com/erlang/otp/wiki/Writing-good-commit-messages

[2012-01-27 21:01] eightysteele opened #33 "Multiple layer overlays"
We need a check in `mol.map.tiles.js` to ensure that we don't add the same layer multiple times to the map. Here's the entry point where layers are handled in the module:

https://github.com/MapofLife/MOL/blob/develop/app/js/mol.map.tiles.js#L47

The `layers` here are an array of layer objects. Each layer is identified by `layer-{name}-{types}`. For example:

[code]

Since map layers in the map ha

[2012-01-28 00:12] eightysteele commented on #30
Started work on this. Added the new `mol.core.js` module with support for dealing with layer ids:

https://github.com/MapofLife/MOL/blob/develop/app/js/mol.core.js

[2012-01-28 02:44] eightysteele opened #34 "Use EE vector API to make a call on several fusion tables."

[2012-01-28 02:46] eightysteele opened #35 "Surface point and polygon CartoDB layers"
Fully integrate the new hosted CartoDB instance and surface point and polygon layers in the UI.

[2012-01-28 03:14] eightysteele opened #36 "Waiting for search results"
When waiting for search results, we need a spinner animated GIF so that we can tell something is happening.

[2012-01-28 03:14] eightysteele opened #37 "No search results"
When a search returns no results, we need let users know.

[2012-01-28 03:30] eightysteele opened #38 "Go button broken"
The go button in the search form isn't working when you click it.

[2012-01-28 03:35] eightysteele opened #39 "Add search term/result caching"
We need to start caching search results in the UI.

[2012-01-28 04:18] eightysteele opened #40 "CartoDB JS API doesn't support tile id"
We rely on tile ids internally, but the CartoDB JavaScript API doesn't support this. Fork, modify, and send a pull request that fixes this.

[2012-01-28 05:02] #40 closed, assigned to eightysteele

[2012-01-28 05:02] eightysteele commented on #40
Also sent the patch as a pull request:

https://github.com/Vizzuality/cartodb-gmapsv3/pull/5

[2012-01-28 05:29] #35 closed, assigned to eightysteele

[2012-01-28 07:36] eightysteele opened #41 "Wire in layer ordering events"
Map layer widgets are draggable, but the events are not wired in yet to actually change layer ordering on the map.

[2012-01-28 07:39] eightysteele commented on #33
@jmalczyk: I beat you to it and fixed this in @91e29d9 using the strategy described above:

https://github.com/MapofLife/MOL/blob/develop/app/js/mol.map.tiles.js#L76

BOOM!

[2012-01-28 07:39] #33 closed, assigned to jmalczyk

[2012-01-28 07:40] eightysteele commented on #34
In progress.

[2012-01-28 08:09] eightysteele commented on #30
Fixed in 91e29d9.

The `mol.modules.core.js` code surfaces new functions for dealing with layers and ids. Layer ids are used across modules. This is nice since any part of the app can now identify a layer with a consistent id in terms of layer name, type, source.

[2012-01-28 08:09] #30 closed, assigned to eightysteele

[2012-01-28 08:12] eightysteele opened #42 "Bring back map controls for search et al"
Add back the map controls that let you toggle search, etc.

[2012-01-28 08:13] eightysteele opened #43 "Add icons to search results and layer widgets"
Search results are missing little icons on the left. We need little icons!

[2012-01-28 08:13] eightysteele opened #44 "Layer widget LEVEL UP"
Layer widgets need to level up. They should include controls for zooming and deleting at the very least.

[2012-01-29 02:53] gaurav opened #45 "Duplicated mapped fields don't work correctly"
I've just found that SurveyStartDate (usually =SurveyEndDate in our datasets) isn't being set up correctly. At one point, providerconfig.py was able to set the same mapped field to different fields (i.e. map 'Year' to 'SurveyStartDate' AND to 'SurveyEndDate'), but this doesn't seem to be working any longer. Not a huge priority, but it would be nice to clean this up at some point.

[2012-01-29 04:17] eightysteele opened #46 "scientificname = '=Scientific name' in point table"
I noticed that the `scientificname` column in the points table on CartoDB has a bunch of `=Scientific name` values.

[code]

Maybe something wonky going on with `loader.py`.

[2012-01-29 04:19] eightysteele commented on #38
Looks like the search form `x` button is broken as well. Check their focus.

[2012-01-29 04:21] #42 closed, assigned to eightysteele

[2012-01-29 04:49] eightysteele opened #47 "Deploying to App Engine failure"
Deploying is failing on Python 2.7.2+, Ubuntu, SDK 1.6.1:

[code]

[2012-01-29 04:52] gaurav commented on #47
Confirmed on Python 2.6.1, MacOS X and on Ubuntu 10.04.3/Python 2.6.5/appcfg.py 1.6.1.

[2012-01-29 04:57] eightysteele commented on #47
I submitted a question about this to the App Engine Google Group (waiting moderation) and also floated the same question to the #appengine IRC channel.

[2012-01-29 05:00] gaurav commented on #46
D'oh. It's an incorrect entry in the config file.

[2012-01-29 08:31] gaurav commented on #46
Should be fixed now!

At some point, we're probably going to want some sort of tabular interface to MoL as well, which can ask questions like "how many species named X are available, and from which datasets". Not sure if that should go into the frontend (i.e. app/) or into the backend (i.e. workflow/). Either way, this will be helpful for me with issue #26, and probably of much interest to our use

[2012-01-29 18:02] eightysteele commented on #26
Can we just start this using a Google Spreadsheet for now?

[2012-01-29 18:05] eightysteele commented on #46
This seems like an ideal query for CartoDB, yeah? We can definitely answer the above question using `UNION SELECT` queries across our tables. If there's a need to surface this functionality on the UI, let's submit a separate issue for it. Maybe?

[2012-01-29 18:21] eightysteele commented on #46
@gaurav: How did you fix this issue on the points table? It's not responding to SQL or map queries now so I'm trying to debug.

[2012-01-29 20:25] gaurav commented on #26
I've done that, but I need some way of summarizing information across either a directory of shapefiles, or (more easily) across CartoDB. That's why I asked whether we're eventually going to need that sort of functionality on the main website; otherwise, I could just throw together some scripts to generate those numbers. But they are definitely going into a Google Spreadsheet (just e-mailed it to y

[2012-01-29 20:25] gaurav opened #48 "Initial hash load for loader.py duplication testing takes too long"
So I'm starting to see timeouts when downloading the list of hashes from CartoDB. We need some kind of cursor, ideally at the CartoDB API level, but if not, at the SQL level (i.e. using LIMIT and OFFSET to download the hashes). I'm marking this as priority, since this is holding up the rangemap upload.

[2012-01-29 20:30] gaurav commented on #46
I just deleted that collection and reuploaded it, with the DBF mapping fixed in config.yaml.

Hmm, that's probably because I'm uploading GBIF data into the points table. Simon Tokumine suggested that time-consuming operations might be failing for us because of the load on our instance from all the data uploads.

Check if the situation is any better now: we're now down to a single upload, since iss

[2012-01-29 20:34] gaurav opened #49 "Add throttling for loader.py"
Simon Tokumine from Vizzuality suggests that throttling our upload rate might make the CartoDB UI more responsive for us. Probably the simplest way to do this would be to put in a few seconds "sleep" between consecutive SQL API calls. I'll work on this asap and see if it improves things.

[2012-01-29 21:26] eightysteele commented on #48
Can you explain this more? What is the list of hashes and why are we downloading it from CartoDB?

[2012-01-29 21:27] eightysteele commented on #46
If you deleted the `points` table and then recreated it, I know what's happening. My indexes got blasted! :)

No need to stop the GBIF upload for now.

[2012-01-29 21:39] eightysteele commented on #26
Yeah man, I think just some scripts for now? Is that good enough? Thanks for sending the spreadsheet again.

[2012-01-30 00:19] eightysteele commented on #9
@gaurav, can we modify the bulkloader so that the `type` column is one of:

[code]

[2012-01-30 01:35] eightysteele commented on #49
Totally. Let's go with exponential backoff for the throttling implementation:

http://en.wikipedia.org/wiki/Exponential_backoff

Check out the App Engine bulkloader source code for a good example of this.

[2012-01-30 01:36] eightysteele commented on #47
Resolved. There were some funky encoding issues in a file.

[2012-01-30 01:36] #47 closed, assigned to eightysteele

[2012-01-30 02:22] eightysteele commented on #46
Resolved.

[2012-01-30 02:22] #46 closed, assigned to gaurav

[2012-01-30 02:59] eightysteele opened #50 "Layers module not checking for duplicates"
The `mol.modules.map.tiles` module isn't checking for duplicate layers, resulting in duplicate layer widgets when adding map layers.

Need an event scheme for handling layers so that all app modules can be notified when layers are added/removed.

[2012-01-30 03:34] eightysteele opened #51 "Search index"
Our search index rides on `scientificname` like this:

[code]

Given a scientific name like `Lagenorhynchus cruciger`, we can search for it on `Lagenorhynchus` but not on the full scientific name. We need to be able to search on the full scientific name.

More info:

http://www.postgresql.org/docs/9.1/static/textsearch.html

[2012-01-30 03:39] eightysteele opened #52 "Add point layer map zoom crazy"
If you add a points layer to the map, the map zooms all the way out. It's crazy.

[2012-01-30 22:11] gaurav commented on #51
Maybe we want to put another database table in front of the search? So a highly-indexed full-text fuzzy-logic-matching index of all the scientific names in the database, which maps said name back to "standard" names that the points and polygons table uses. This would also be useful for taxonomically clever searches (i.e. somebody searching for "Canidae" returns a list of all the canids in our data

[2012-01-30 22:15] eightysteele commented on #51
Sounds good man. Want to create that table and we'll give it a try?

[2012-01-31 02:11] gaurav commented on #48
So the way loader.py implements idempotentcy right now is this: every feature is processed into a GeoJSON object, and then an SHA1 hash is generated for it (or more accurately, for a string representation of it generated by pprint). This hash is uploaded with the feature.

If the upload is interrupted for any reason, on the next runthrough, loader.py will download a list of all hashes associated w

[2012-01-31 02:35] gaurav commented on #49
Thanks for the tip! I will try this.

[2012-01-31 02:42] eightysteele commented on #49
Excellent.

[2012-01-31 02:43] eightysteele opened #53 "App Engine SQL proxy for CDB"
This is for performance. We can actually use a backend to pre-calc all `scientificname` queries and cache the results.

[2012-01-31 06:40] eightysteele commented on #51
I'm actually thinking #53 would be a better solution here. Maybe?

[2012-01-31 06:44] eightysteele opened #54 "Invalid geoms in polygon table"
We found some invalid geoms in the polygon table in CDB.

[code]

[2012-01-31 18:49] eightysteele commented on #52
Fixed by disabling autozoom in CDB layer.

[2012-01-31 18:50] #52 closed, assigned to jmalczyk

[2012-01-31 22:39] jmalczyk commented on #38
As of a2a0cdfe158024334a2b48eb8eef6359cf3dbebd both of these seem to be working fine.

[2012-01-31 22:39] #38 closed, assigned to jmalczyk

[2012-01-31 22:56] eightysteele commented on #38
+1

[2012-01-31 23:18] eightysteele opened #55 "Unit tests"
Add unit testing coverage.

[2012-01-31 23:19] eightysteele opened #56 "Render point uncertainty with CartoCSS"
Render the uncertainty circle as a function of the uncertainty in meters.

[2012-01-31 23:22] eightysteele opened #57 "Search and tile based on metadata queries"
Search and tile based on any metadata field in our schema by allowing a native SQL query in the UI.

[2012-01-31 23:24] eightysteele opened #58 "Auto-complete names in search"
When searching, auto-complete typed in names.

[2012-01-31 23:26] eightysteele opened #59 "English names in search"
Support English names in search box.

[2012-02-01 02:43] walterj opened #60 "Species range zoom functionality seems gone"

[2012-02-01 02:44] walterj opened #61 "Species range zoom functionality seems gone"
Species range zoom functionality seems gone

[2012-02-02 04:05] eightysteele opened #62 "Wax.js looking for http://localhost:8080/blank_tile.png"
As an optimization wax.js is looking for http://localhost:8080/blank_tile.png to render blank tiles. Add this blank to the app. We can lift the one used by our CartoDB instance.

[2012-02-02 04:08] eightysteele opened #63 "EE with less than 3 FT ids"
EE requests are getting blasted when there are less than 3 FT `tableids` in the request.

[2012-02-02 04:16] gaurav commented on #63
What happens if you repeat the same tableid three times?

[2012-02-02 04:17] eightysteele commented on #63
Try it and let me know?

[2012-02-02 05:01] #63 closed, assigned to eightysteele

[2012-02-02 06:09] eightysteele commented on #60
Closing issue since it duplicates #61.

[2012-02-02 06:09] #60 closed, assigned to nobody

[2012-02-02 06:10] eightysteele commented on #61
Yup, good catch, need to fold this back in. This requires a bounds query to CDB and then a simple Google Maps zoom/center update.

[2012-02-02 06:13] eightysteele opened #64 "Loading feedback when adding layers"
When adding layers to the map from search results, there's usually a little bit of a delay. Let's paper over that with a loading anigif similar to what we're using for search.

[2012-02-02 06:14] eightysteele commented on #34
Done and deployed.

[2012-02-02 06:14] #34 closed, assigned to eightysteele

[2012-02-02 06:19] eightysteele commented on #64
Actually, the lag happens when changing zoom as well. So generally what we want is to surface that loading anigif until all map layers have loaded. Need a callback to remove the anigif like this:

[code]

[2012-02-02 06:21] eightysteele opened #65 "Double-click on map opens info window"
If you double-click to zoom on the map, if your clicks hit a layer, it opens the info window. We don't want to open the info window on a double-click.

[2012-02-02 06:42] eightysteele opened #66 "Fold in assemblage checklists and ecoregions"
Need to bring back our AC and ER, woot.

[2012-02-02 07:19] eightysteele opened #67 "Add back icons in search results"
Search results have 2 icons: 1 for type and 1 for source. They are missing now but this is similar to resurfacing icons in the layer widget.

[2012-02-02 07:23] eightysteele commented on #43
Reopening issue. Layer widgets looking good, but search results still missing 2 icons (for type and source).

[2012-02-02 07:24] eightysteele commented on #67
Closing, duplicates #67.

[2012-02-02 07:24] #67 closed, assigned to jmalczyk

[2012-02-02 07:35] eightysteele commented on #43
Also, on localhost the layer icons are working, but once deployed to App Engine they break.

[2012-02-02 07:39] eightysteele commented on #50
Done. The tiles module has a reference to the Google Map and checks overlay names against incoming layers.

[2012-02-02 07:39] #50 closed, assigned to eightysteele

[2012-02-02 07:41] eightysteele commented on #51
We dropped ts_ type queries, so closing this in favor of #53.

[2012-02-02 07:41] #51 closed, assigned to jmalczyk

[2012-02-02 19:31] #37 closed, assigned to jmalczyk

[2012-02-02 19:56] jmalczyk commented on #65
This is really an issue in CartoDB's code. I submitted a ticket there, moving to a lower priority while we wait on them.

[2012-02-02 19:59] jmalczyk commented on #65
[cartodb-mapsv3 #12](https://github.com/Vizzuality/cartodb-gmapsv3/issues/12)

[2012-02-02 20:38] eightysteele commented on #65
Cool. You can also fork their repo, fix this, then send a pull request.

[2012-02-02 20:44] eightysteele opened #68 "UI design doc"
Start flushing out docs for UI design: https://github.com/MapofLife/MOL/blob/develop/app/DESIGN.md

[2012-02-03 02:33] eightysteele commented on #36
Fixed.

[2012-02-03 02:33] #36 closed, assigned to jmalczyk

[2012-02-08 22:17] #43 closed, assigned to jmalczyk

[2012-02-08 22:53] eightysteele commented on #62
Fixed by @jmalczyk in a2a71b0648f0013c7c2b211027d143476bb5f91f.

[2012-02-08 22:53] #62 closed, assigned to nobody

[2012-02-08 23:26] eightysteele commented on #64
Reopening until we land the "single loading gif" solution.

[2012-02-09 04:03] eightysteele opened #69 "About link"
Surface an "about" link on the app.

[2012-02-09 16:42] jmalczyk opened #70 "Layer toggle isn't turning layers off."
The little eyeball toggle button isn't toggling layers off.

[2012-02-09 23:13] eightysteele commented on #70
+1

[2012-02-10 16:04] eightysteele opened #71 "CartoCSS conditional styling"
We need styling rules from @robgur and @walterj for layers. Those rules will get encoded in CartoCSS on our CartoDB instance.

[2012-02-10 16:13] eightysteele opened #72 "Layer opacity slider"
Add a opacity slider to the layer widget using an HTML5 range slider element:

`<input type="range" name="opacity" min="1" max="100" step="25" />`

We should have a course `step`, like 25. When the slider event fires, we'll need to remove the layer tiles from the map, and then add them back using the new opacity values (converted to something between 0 and 1.0) in the `ImageMapTypeOptions`. See:

[2012-02-10 16:14] eightysteele opened #73 "Layer zoom to extent"
Need a zoom button on the layer widget. When clicked, the map will zoom to the layer extents.

[2012-02-10 16:16] eightysteele commented on #70
Assigned issue to @eightysteele.

[2012-02-11 16:23] eightysteele commented on #73
Closing issue since it duplicates #61.

[2012-02-11 16:23] #73 closed, assigned to eightysteele

[2012-02-11 17:29] eightysteele commented on #64
Reopening this issue. Let's just make the loading gif a display and then add it to the map as a control using events. For example:

[code]

To see the pattern in action, look at how the search display gets added to the map:

https://github.com/MapofLife/MOL/blob/develop/app/js/mol.map.search.js#L111

[2012-02-11 18:06] eightysteele commented on #72
Re-working the layer widget to accommodate opacity slider, toggle (t), zoom (z), and info (i):

![](http://i.imgur.com/bX78A.png)

[2012-02-11 19:01] eightysteele opened #74 "Add icons to layer widgets"
Similar to #43, but for the layer widgets, not the search widgets. Right now we have the type icon, but we're missing the source icon.

[2012-02-11 21:38] robgur commented on #74
Is this just missing or in need of a new design?

[2012-02-11 22:12] eightysteele commented on #74
Just missing, exactly as it was in #43.

[2012-02-11 22:56] #70 closed, assigned to eightysteele

[2012-02-11 23:11] eightysteele opened #75 "Fold in EE species list functionality"
Basically let the user draw a polygon and then view the species list.

[2012-02-12 02:16] #61 closed, assigned to jmalczyk

[2012-02-12 02:22] eightysteele opened #76 "Optimize layer extent calculations"
For optimizing layer zoom to extent in #61, we either need to upldate loader.py to start populating minx, miny, maxx, maxy or add a new column to the points and polygons tables with `ST_EXTENT` precalculated.

[2012-02-12 04:38] #72 closed, assigned to eightysteele

[2012-02-12 04:42] eightysteele opened #77 "Point layer opacity"
Related to #72, point layers are rendered using image sprites for performance, which means they can't be styled dynamically. We need to disable opacity events for point layers.

[2012-02-12 22:12] walterj commented on #75
Tentative thoughts on this:

User can move pointer with circle size of ca. 100km and click do get ‘point’ list produced, or with same pointer can draw polygon to produce ‘area’ list (behind the scenes, that polygon would need to be buffered out by ca. 100km to address expert map boundary uncertainty). Then user gets in window a structured response that has as title the Class/Order(s) selected, the

[2012-02-12 22:15] walterj commented on #71
For now (beta release) I propose the following default styling for expert range maps.

Default field displayed is' Seasonality'.
Default styles are: 1 = Resident = green; 2 = Breeding only = yellow; 3 = Non-breeding = blue; 4 = Passage = light blue; 5 and others = blue green

Will we allow toggling to a different field for display (e.g. ORIGIN) and if so, would the same color-number connection be

[2012-02-12 22:19] walterj commented on #59
Should we put heads together and develop a global taxonomy list with misc. fields (Class, Order, Family, English, Scientific, ..., IUCN status) that for now (beta release) may be static but later dynamic? It would be used for search, metadata (i.e. info about a species when mapped), and species list result annotation.

[2012-02-12 22:20] walterj commented on #58
Should apply to scientific and English names (and Family, Order?).

[2012-02-12 22:21] eightysteele commented on #75
Nice.

So as a first step, I think we can pretty quickly support a response that includes the class/order(s) selected, the area with buffer queried, and a species count.

After that, we can fold in the English names (since we don't have that yet, but see #59).

Then finally we revisit the idea of exporting CSV, changing taxon selection, etc.

[2012-02-12 22:25] walterj commented on #72
Looks nice! Look forward to testing this

[2012-02-12 22:27] eightysteele commented on #71
For the beta release, lets go with Carto styling on the `seasonality` column using the following rules you defined:

[code]

After the release, we can definitely explore support for toggling different styling rules (e.g., for the `origin` column) using the `style` URL parameter for tile requests.

[2012-02-12 22:30] robgur commented on #71
+1

[2012-02-12 22:30] eightysteele commented on #59
Well, so I think that all taxonomic information needs to be part of our MOL schema (instead of as a separate table) so that it's encoded directly with every point and polygon record. It should include Class, Order, Family, English, Scientific, IUCN status, and any other columns needed. @gaurav, are most of these columns already part of the MOL schema?

[2012-02-12 22:32] eightysteele commented on #58
@jmalczyk, can you explain a little how you're implementing this feature? It will help me answer the question from @walterj about supporting family and order auto-completes.

[2012-02-12 22:33] eightysteele commented on #72
Thanks man, look for an update email later tonight with a demo and a link.

[2012-02-13 19:04] eightysteele commented on #58
Fixed in 4cb48d17f94c5e3ad652f4b541a125b8fa041404.

Auto-complete is for scientific name only. For supporting english names, family, and order, we need to add those to the MoL schema and update the polygons and points tables with the new column values. See #59 for details.

Closing issue.

[2012-02-13 19:31] walterj commented on #59
" ... encoded directly with every point and polygon record. It should include Class, Order, Family, English, Scientific, IUCN status, and any other columns needed ".

The limitation here is that some fields change with time. E.g. we may swap in/out taxonomies, or, most pertinently, want to update the IUCN status as it changes every year. We may want to add a field (e.g. Spanish name) down the road

[2012-02-13 19:38] walterj commented on #66
From previous document:
(Multi-)Polygonal species lists (single shapefile upload, one file = many species)
- Examples: ecoregional species lists (polygons adjacent),  country species lists, reserve(s) or study area(s) species lists, island checklists, plant survey plots, atlas grids or transect polygons species lists.
- Provider has one shapefile with many polygons in which each GeoObject, i.e. po

[2012-02-13 19:41] eightysteele commented on #59
Yeah, this is totally fine. I don't see this as a limitation since we can update taxonomy and IUCN columns using the CartoDB SQL API. So I think we're set here if we just add these columns to our schema. Good?

[2012-02-13 19:43] eightysteele commented on #66
@walterj: Thanks for the background info on this.

[2012-02-13 21:19] walterj commented on #58
Auto-complete should operate on the beginnings for words, not any text portion inside words. I.e. when typing 'Par', it should only search for Genus or Species names beginning with 'Par' (e.g. 'Parus'), not any occurrence of 'par' inside any word. This should also limit the total number of words assessed and returned.

[2012-02-13 21:36] eightysteele commented on #58
Good catch. We're using the JQuery autocomplete plugin, and it supports passing a callback function as the autocomplete source (right now we're passing an array of scientific names). The callback would go here:

https://github.com/MapofLife/MOL/blob/develop/app/js/mol.map.search.js#L75

@jmalczyk, see this thread on SO for details on what the callback needs to do to support prefix matching:

http:

[2012-02-13 23:58] eightysteele opened #78 "Test spatial polygon queries in CDB"
Run a few queries to get a sense of performance for big and small extents.

[2012-02-14 00:00] eightysteele opened #79 "Polygon workflow and synchronization"
Need to think through a polygon workflow for source shapefiles to CDB and EE. How do we keep these assets synchronized?

[2012-02-14 00:01] eightysteele opened #80 "Range map simplification via PostGIS functions"
If Cody can simplify range maps using PostGIS functionality, we can perform this step directly in CDB.

[2012-02-14 00:03] eightysteele opened #81 "shp2gft.py and FT limits"
Modify shp2gft.py to keep within 5 million vertices per table limit and throttling limits. It should be able to stop running when a throttling limit is reached and resume later. It should automatically create new tables when the vertices limit is reached.

[2012-02-14 00:04] eightysteele opened #82 "EE access to private FT tables"
Ping the EE team to see if the API can query private FTs.

[2012-02-14 00:44] eightysteele opened #83 "Finish loading GBIF points to CDB"
Title says it all.

[2012-02-14 00:45] eightysteele opened #84 "Remove duplicate rows in CDB polygons table"
Title says it all.

[2012-02-14 00:54] walterj opened #85 "EE species list pointer: circle/polygon, minimum size"
Our expert range maps are not accurate and should not be queried at anything finer than ca. 100km accuracy. We should offer two queries:

1) 100km diameter circle query.  The default look of the pointer when in species list tool mode should be a 100km diameter circle. When double-clicked at a given location, the species list tool runs with that circle as boundary

2) With same pointer and  single

[2012-02-14 22:54] #64 closed, assigned to jmalczyk

[2012-02-14 22:58] jmalczyk commented on #74
Fixed in 63ced7e811463b13b1421b77e79b7a06c278c4b8

[2012-02-14 23:09] jmalczyk commented on #39
The autocomplete widget already gets a complete list of what is available when the app initializes to populate its source array. There's no reason source and type metadata couldn't come with it to speed up the layer search.

[2012-02-15 00:53] eightysteele commented on #39
Explain more. Are you saying it grabs a distinct list of all scientific names from the `polygons` and `points` table?

[2012-02-15 03:37] jmalczyk commented on #39
Yes, it gets a distinct list of all scientific names from the points and
polygons table and queries that on the client. If this gets slow when as
the list of species gets bigger, we can move that query to the server. As
is, it is pretty fast. We'll need to experiment with how to do  quickly on
the server -- we don't want to be firing off select distinct queries on
every key press in the search fie

[2012-02-15 03:45] eightysteele commented on #39
Yeah, right now it's pretty fast, totally. When the list of names gets bigger, we can just store the uniques in App Engine and then surface an auto-complete web service. It will be pretty performant. We can setup a cron job that keeps the list of uniques in sync with CDB.

[2012-02-15 09:27] gaurav commented on #59
I'll check this out tomorrow, but I don't think all those fields are in the schema yet, and putting them in after uploading the polygons might cause some headaches. I'll report back on this once I have a clearer idea on what's already uploaded, and how easy it might be to add in the data we need.

[2012-02-15 09:29] gaurav commented on #66
It sounds like there's consensus on combining the shapefiles and the CSV file into a set of shapefiles with species information, which can then be uploaded by loader.py without any modification. @eightysteele, does that sound good? If so, I'll proceed on this.

[2012-02-15 09:38] gaurav commented on #71
As per e-mail conversations, we'd like to have different species visually differentiated on the UI. So, for instance, if there are two species, they should use two different shades of green for resident areas, two different shades for yellow for breeding only, and so on.

[2012-02-15 13:00] walterj commented on #59
" uploading the polygons might cause some headaches."

If that is the case, we might require a different solution, as we will want to add and update select fields after upload.

-----Original Message-----
From: Gaurav Vaidya [mailto:reply@reply.github.com]
Sent: Wednesday, February 15, 2012 4:27 AM
To: Jetz, Walter
Subject: Re: [MOL] English names in search (#59)

I'll check this out tomorrow, but

[2012-02-15 15:59] eightysteele commented on #59
It will only be a headache now because we haven't extended loader.py to handle table updates yet. @gaurav, the easiest solution in the short term might be updating the schema, dropping the polygons table, and re-uploading them.

[2012-02-15 16:20] eightysteele opened #86 "Show map loading when clicking zoom"
Until #76 is resolved, we need to show the map loading widget when layer zooms are clicked since the query can take a few seconds.

[2012-02-15 16:24] eightysteele commented on #74
Re-opening issue. They are still missing as of 63ced7e. Did you add the icons to the repo?

[2012-02-15 16:49] eightysteele commented on #44
#72 added a layer widget redesign, but there are some styling problems there. For example, the opacity slider overlaps the toggle button sometimes. Also, need to check how longer species names affects layout.

[2012-02-15 16:56] eightysteele opened #87 "User defined layer colors"
Add feature that allows users to set layer color. There are performance issues here to consider, namely cachability of custom colored tiles.

[2012-02-15 16:57] eightysteele commented on #71
We probably won't have time for this before the release, but let's definitely revisit this in #87.

[2012-02-15 19:01] eightysteele opened #88 "CDB spatial query test"
Get some performance metrics for polygon searches against the polygons  table.

[2012-02-15 20:12] #86 closed, assigned to jmalczyk

[2012-02-15 20:19] eightysteele commented on #57
We're modifying the search box to support adding columns to search on. For example, you'll click a little `+` link and a drop down menu with all columns will appear with a text box for the value. These will translate into WHERE filters in the SQL. You'll be able to add as many as you want. The layer object will be modified to include the full SQL for tile requests.

[2012-02-15 22:51] gaurav commented on #59
@eightysteele: Yup, agreed.

[2012-02-16 03:07] gaurav opened #89 "Rangemap shapefiles missing "Seasonality""
Rob just pointed out that of the 650,627 polygons uploaded, only 60,215 have a valid seasonality. At first I thought that this might be because of an incorrect config.yaml, but I've found several rangemap shapefiles (anas_platalea.shp and anas_undulata.shp) which don't have any seasonality information at all.

There's three ways we can proceed from here:
1. Set all blank seasonalities to a particu

[2012-02-16 04:04] eightysteele opened #90 "PostGIS table with mixed geoms"
Right now we have two tables. One for point geoms, the other for polygon geoms. Possible to have a single table with different geom types? If so we can collapse points and polygons tables into a single table. Then we can avoid UNION queries and see a huge performance boost.

[2012-02-16 04:07] eightysteele commented on #89
A seasonality default doesn't seem to make sense to me. I'd go with a default styling that indicates an unknown seasonality. We need to hear from @walterj because if he has a text file that maps scientific name to seasonality, we can upload that as a new temp table to CDB then do an SQL update from that to the polygons table.

[2012-02-16 04:42] robgur commented on #89
Like Aaron's suggestion but its a bit more complicated in that we can't just match scientific name to seasonality, can we?  We need to know which polygon reflects breeding range versus non-breeding, so we need to know which polygons are which, as well as which species are which, yes?

[2012-02-16 04:57] eightysteele commented on #89
Totally. My point is just that if @walterj can provide enough information in a text file to assign seasonalities to polygons, then we are set.

[2012-02-16 06:54] eightysteele commented on #58
Re-opening issue. We're querying CartoDB for all distinct scientific names on app load. This query is taking too long. Auto-complete doesn't work until the query returns. @jmalczyk, let's chat about this offline. I think we can hack something quick for the short term, and then surface a longer term issue after end of month.

[2012-02-16 21:19] eightysteele opened #91 "Polygon simplification via PostGIS"
Update the workflow README.md with details about how we're simplifying polygons using PostGIS: https://github.com/MapofLife/MOL/blob/develop/workflow/README.md

[2012-02-17 00:07] eightysteele commented on #88
We ran some preliminary polygon intersection queries on 700k full resolution polygons that are in a single PostGIS table with a GIST spatial index.

Queries that bypass the cache are taking up to 30 seconds. With caching we're seeing anywhere from 5-15 seconds depending on if the polygon is within or overlapping a previously cached region.

Next steps are to run these queries on 700k lower resolut

[2012-02-17 04:34] walterj commented on #58
Sent example taxo table (with English and Family names etc) to Jeremy and Aaron.

[2012-02-17 04:49] walterj commented on #89
We went over some of this  when we discussed metadata and the data upload/entry forms (see those documents). Not all sources will use the exact name "Seasonality" for a  field that essentially gives seasonality values. IUCN maps do have the field. In the Jetz bird maps (because we still work with the old version these make up many polygons) this field is called "OccCode" (categories have very simi

[2012-02-17 16:23] eightysteele commented on #78
Closing issue since it duplicates #88.

[2012-02-17 16:23] #78 closed, assigned to eightysteele

[2012-02-17 16:30] eightysteele commented on #89
Totally. This is where our schema configuration file comes into play. We can do the mapping there.

OK, makes sense. We'll default to 5 in this case.

Definitely, and we'll use the CDB SQL API for this.

[2012-02-17 16:35] eightysteele commented on #39
This issue is related to #58.

[2012-02-17 17:22] robgur commented on #89
My point is that we need these data populated properly into the database if we plan to show off styling in the demo.  Those data are NOT in CartoDB now.  So like the thinking, and need to understand timing and priority.

[2012-02-17 17:26] eightysteele commented on #89
@robgur - Yeah man, we need a short turn solution for this. I guess we can just style based on the above rules, and anything without seasonality will get the value 5. Can we do better quickly or no?

[2012-02-17 17:33] robgur commented on #89
Yes but it won't really help much because we have no data (5) or 1 (year long resident) and _nothing_ else so no real reason to style.

[2012-02-17 17:38] eightysteele commented on #89
I see, so of the 650,627 polygons uploaded, only 60,215 have a valid seasonality, and that seasonality is 1. Right?

[2012-02-17 17:53] robgur commented on #89
Yup

[2012-02-17 17:56] eightysteele commented on #89
OK, so what we can do right now is setup the styling rules, and just understand that we'll have 2 colors (1, 5) until we update the polygons table.

[2012-02-17 18:22] codyschank commented on #91
I should note Jeremy wrote the shell script for testing ST_SimplifyPerserveTopology, but I can outline it here:

1) import the shapefiles into a postgre datababse using shp2pgsql using flags -D -d -s 4326
http://postgis.refractions.net/docs/ch04.html#shp2pgsql_usage

2) Project the polygons using ST_Transform.  We used Web Mercator (SRID 3785)
http://www.postgis.org/docs/ST_Transform.html
*note: t

[2012-02-17 18:27] gaurav commented on #89
Three quick points:
1. It'd be quite easy to update the polygons table to set all NULL
Seasonality to '5' for now, if that'll make the UI code easier/more
stable.
2. I haven't had a chance to check for OccCodes in the
Seasonality-less rangemaps yet (homework!), but I'll do that tonight
and report back. If it does exist, I can poke around a bit and see if
there's some way we can upload them separat

[2012-02-17 18:30] walterj commented on #89
Oh, we do have 2,3,4 for all IUCN and Jetz maps, as long as either Seasonality or OccCode field weren't dropped from dbf during ingest.

Walter

-----Original Message-----
From: Rob [mailto:reply@reply.github.com]
Sent: Friday, February 17, 2012 12:34 PM
To: Jetz, Walter
Subject: Re: [MOL] Rangemap shapefiles missing "Seasonality" (#89)

Yes but it won't really help much because we have no data (5

[2012-02-17 18:32] walterj commented on #89
Confused by this. Our expert range maps have a populated Seasonality or OccCode field (just look at the dbf) that we need to ingest (see metadata/ingest discussions in summer 2011) and then simply use.

Walter

-----Original Message-----
From: Gaurav Vaidya [mailto:reply@reply.github.com]
Sent: Friday, February 17, 2012 1:27 PM
To: Jetz, Walter
Subject: Re: [MOL] Rangemap shapefiles missing "Seaso

[2012-02-17 18:38] robgur commented on #89
Unfortunately, I do not see OccCode in our current polygon dataset populated into CartoDB.

[2012-02-17 18:41] eightysteele commented on #91
Good stuff! @codyschank, can you put this into the workflow [README](https://github.com/MapofLife/MOL/blob/develop/workflow/README.md). Also, is the shell script that @jmalczyk wrote in the repository?

[2012-02-17 18:48] eightysteele commented on #89
Guys, let's pull this convo into a call and sort this out. I'll shoot an email now.

[2012-02-17 18:52] codyschank commented on #91
I changed the SRID for shp2pgsql to 3857.  However, the prj is still not something that ArcGIS can read properly.  I wonder how to fix this.

[2012-02-17 18:55] eightysteele commented on #91
What's the shp2pgsql command line you're using?

[2012-02-17 19:03] codyschank commented on #91
shp2pgsql -D -d -s 4326 $file temp | psql -d mol

psql -d mol -c "CREATE TABLE temp_transformed AS SELECT ST_Transform(the_geom, 3857) as the_geom, gid, specid, latin, occcode, date, editsinfo, citation, notes, origin, raster FROM temp"

[2012-02-17 19:11] eightysteele commented on #91
Hmmm. Are you saying that ArcGIS can't read the `temp_transformed` table? What's the error you're seeing?

[2012-02-17 20:09] codyschank commented on #91
Later on we export back to a shapefile, so ArcGIS is not dealing the database or the temp_transformed table.  We did this because we didn't want to have to deal with figuring out how to view a Postgre database in ArcGIS.  Anyways, the file opens fine in ArcGIS, but it can't read the prj file, so it doesn't know what the projection is.

This is what the PostGIS processed projection file looks like:

[2012-02-17 20:12] jmalczyk commented on #91
This script will be getting an extra line (or two) that reprojects back to
WGS84 (EPSG  4326) because that is what CartoDB expects for input data.

On Fri, Feb 17, 2012 at 3:09 PM, codyschank <
reply@reply.github.com

[2012-02-17 20:16] codyschank commented on #91
Cool.  The problem ArcGIS is having reading the prj file is not a critical issue, just a curiosity.  I wonder if it would be able to read the prj file if it was in WGS84 though...but we can revisit it later, if we need to.

[2012-02-17 22:26] gaurav commented on #89
On 17 February 2012 11:38, Rob
reply@reply.github.com
wrote:

[2012-02-17 22:34] robgur commented on #89
Lets just reupload.  If we do this, can we also maybe use the opportunity to check for duplicates and see if that problem can be tracked down?   Capacity?

[2012-02-18 20:09] walterj opened #92 "MOL content info & taxon selection dashboard"
At least in simple(st) form needed for beta release. Below just an outline of what this could look like (not a request, just a suggestion for discussion).
# Looks etc:

E.g. Size: ca. ½ to ¾ of screen in front of map view (which is greyed out, behind).
Color: black or grey with whitish fonts (or whatever is preferred)?
Appears/disappears: appears by click on dashboard button (top left of screen),

[2012-02-18 20:11] walterj opened #93 "Search UI: As default have 'map' box ticked for all searched/filtered results"
So that everything gets mapped with just one further push of a button.
Make sense?

[2012-02-18 20:16] walterj opened #94 "Search UI: clear up search/filter area after mapping"
After 'map layers' button has been pushed, make disappear the four windows below search (Names, Sources, Types, Results) and clear the name in the search text box.

[2012-02-18 20:38] walterj opened #95 "Automatically put species selected in auto-complete list in 'Results'"
clear/sensible?

[2012-02-18 21:02] walterj opened #96 "Add close button to species map tabs"
so one can get rid of species altogether. This, different to 'show map' (eye) button, when someone wants to clear up the maps workspace. >10 maps things start to look a little cluttered.

[2012-02-18 23:34] eightysteele commented on #89
@gaurav - Quick sanity check. How big is the polygons CSV file?

[2012-02-18 23:42] eightysteele commented on #92
Yeah man, this sounds awesome! Unfortunately it's not a quick thing to develop given our capacity and load. We're 10 days from release and I think we need a feature freeze given our 27 open issues. I think we should table this until end-of-month, and then definitely give it some love for the next development phase.

[2012-02-18 23:48] eightysteele commented on #93
Well, so the UI convention that users generally expect from a list of items is that all items are unchecked by default, with options to select all and select none. This is what we have right now. So to map all search results, we just need two clicks (click the "all" link, then click the "map selected layers" button).

The explicit "click all" is useful, since there might be several dozen results,

[2012-02-18 23:51] robgur commented on #92
Hey all. I agree we should motor on open issues to end of month, but would like to put a _very simple_ start of the dashboard on the table for March 5 --- I think at least initially we could have a little button on the interface that pulls up something that looks like the individual feature metadata interface that shows datasets we have ingested and the number of records per higher level taxon (Bi

[2012-02-18 23:54] eightysteele commented on #94
Yeah, so I'm not in favor of this because it causes the UI to behave unexpectedly. The search results UI should only be closed and cleared if a user explicitly does so. When the UI starts "doing things for you to be helpful", it's helpful for maybe 10% of users, and annoys the remaining 90% because it does something they didn't expect.

Does this make sense?

So I'm thinking that we should leave t

[2012-02-18 23:58] eightysteele commented on #95
Explain a bit more? When I type in Coturnix, there are dozens of results in the auto-complete list that I navigate through using my up and down keyboard arrows. Are we thinking that each time a species is highlighted during navigation that it should get put into the results list?

[2012-02-18 23:59] eightysteele commented on #96
Good catch! This is a quick one to fix, so I'm adding it to the release milestone as priority.

[2012-02-19 00:05] eightysteele commented on #92
Maybe. Let's firm up what it means to "show datasets we have ingested and the number of records per higher level taxon". We could probably surface something like this pretty quickly in the UI:

[code]

I imagine a "data" link that simply shows the above summary. Thoughts?

[2012-02-19 00:08] gaurav commented on #89
@eightysteele: There is no polygons CSV file. There are 13310 shapefiles, with (allegedly) 640k polygons in them (so the extra 10k polygons in the 'polygons' table is duplication or something else).

@robgur It'll take a while to track down why the duplication is happening (especially since I'm feeling sick enough today that I'm not going to be very productive, unfortunately). My next tasks are to

[2012-02-19 00:15] eightysteele commented on #89
@gaurav - Once that timeout thing is sorted on CDB, we'll be able to have loader.py output the polygons as a CSV file and then just upload it to CDB. Boom. We'll be able to add to polygons by uploading new CSV files to the same table. We'll be able to update the table using SQL (or via script if we need to automate down the road).

I think if we can live with the duplicates for the release, especi

[2012-02-19 00:18] gaurav commented on #48
Okay, this bug is causing problems for the GBIF upload. I tried rewriting loader.py to download the hashes 10,000 at a time instead of in one huge SELECT statement, but this requires ordering them, which seems to consistently go over the statement timeout limit, even when only pulling 10,000 hashes at a go. Doing a straight `SELECT *` causes an Internal Server Error (i.e. from the web server, not

[2012-02-19 00:45] walterj commented on #92
Yes, something like this in  the very simplest form, I guess. But I would say let's give it a tabular look, i.e. with taxa as columns and data types as rows? For points and checklists etc we need to distinguish # records and # species, but this could be done with additional columns (or rows). Should all not be too hard hopefully?

[2012-02-19 00:51] eightysteele commented on #92
Yeah, tabular form for sure that includes record count and unique species count. Maybe something like this:

<table>
<tr>
<td><b>Source</b></td>
<td><b>Amphibians</b></td>
<td><b>Birds</b></td>
<td><b>Mammals</b></td>
<td><b>Reptiles</b></td>
</tr>
<td>GBIF points</td>
<td>500 species with 23,000 records</td>
<td>1,500 species with 30,000 records</td>
<td>2,000 species with 20,000 records</td>
<td

[2012-02-19 00:52] gaurav commented on #59
So the latest here is that we're waiting for @jmalczyk to get the taxonomic information from @walterj so we can figure out how to incorporate that. Right?

[2012-02-19 00:53] walterj commented on #92
Thanks, Aaron. Yeah, for the beginning this (with additional rows etc. ) may do.

Walter

[2012-02-19 00:54] walterj commented on #59
Sent to to @jmalczyk on Thursday. I think he has been working on it.

[2012-02-19 00:54] eightysteele commented on #59
@gaurav - Yep. Once we get the English names, we'll store them in the `VernacularName` column in our schema. Make sense?

[2012-02-19 00:56] eightysteele commented on #92
Yeah, this is a reasonable starting point. We'll have a row per source/type for sure. Adding this issue to release milestone with priority.

[2012-02-19 01:02] gaurav commented on #59
Okay, great! Yes, VernacularName is definitely the right place to store them (unless there's a case where we have more than one vernacular name for a species, in which case ... maybe we can store them, semicolon-delimited, into the VernacularName field?). In any case, it looks like the right way to proceed might be:
1. Update vernacular names in mol_rangemaps and the new jetz/birds dataset.
2. Fix

[2012-02-19 01:03] gaurav commented on #89
CSV file or GeoJSON file? Because a GeoJSON upload mechanism with a file size limit would _rock_.

Agreed on the duplicates front. So for Seasonality, let's wait for a bit. With the new bird files to be uploaded soon, it probably makes sense to get the Seasonality on that right to start off with, and then we can reupload mol_rangemaps (minus bird data) with the fixed Seasonality.

[2012-02-19 01:05] eightysteele commented on #59
See the email that just went out which includes my thoughts on the above. @walter and @jmalczyk, are you seeing multiple English names for a species or no?

[2012-02-19 01:06] eightysteele commented on #89
GeoJSON for sure. Agree with getting the new simplified bird range maps in first.

[2012-02-19 01:09] walterj commented on #59
@walter and @jmalczyk, are you seeing multiple English names for a species or no?

Do you mean whether we would like to upload and have in CartoDB multiple English names per species? Not at this point I would say. Later we may add such fields as 'Alternate name' or 'Spanish name' etc., but not for first release for sure!
Does this answer the question?

[2012-02-19 01:11] eightysteele commented on #59
@walterj - Yeah man, that answers it! Awesome.

[2012-02-19 16:54] eightysteele commented on #48
To deal with duplicates, I suggest we drop the hashing method and instead keep track of upload state using an SQLite db.

We can do this because polygons in a Shapefile are ordered. We can take advantage of that by keeping track of polygon numbers.

So, consider a simple db schema like this:

[code]

If the Puma concolor Shapefile had three polygons, the db would look like this after bulkloading w

[2012-02-19 16:57] eightysteele opened #97 "Layer widget styling"
CSS styling problems here. For example, the opacity slider overlaps the toggle button sometimes. Also, need to check how longer species names affects layout.

[2012-02-19 16:58] eightysteele commented on #44
Close issue. Styling problems added to new issue #97.

[2012-02-19 16:58] #44 closed, assigned to eightysteele

[2012-02-19 16:59] eightysteele commented on #74
Fixed. Closing issue.

[2012-02-19 16:59] #74 closed, assigned to jmalczyk

[2012-02-19 17:10] gaurav commented on #76
Since it sounds like we're going to be reuploading everything anyway, the best way to do this is probably through Shapely (our upload script converts the geometry into a a Shapely.geometry object right before upload): http://toblerity.github.com/shapely/manual.html

[2012-02-19 20:28] eightysteele commented on #68
Doc started and will continue to evolve. Closing issue.

[2012-02-19 20:28] #68 closed, assigned to jmalczyk

[2012-02-19 20:29] eightysteele commented on #54
Polygon table getting blasted and re-bulkloaded. Closing issue.

[2012-02-19 20:29] #54 closed, assigned to nobody

[2012-02-19 20:49] #77 closed, assigned to eightysteele

[2012-02-19 20:49] eightysteele commented on #77
Looking into dynamically changing point sprite images via CDB. If this becomes possible, we'll be able to render different species using different colors for example.

[2012-02-19 21:53] #41 closed, assigned to bernardw

[2012-02-19 21:55] eightysteele opened #98 "Layer opacity change changes layer order"
Search for `Dacelo novaeguineae` and add both layers on the map. Drag the polygon layer to the top. Change the layer opacity by dragging slider. The polygon layer, even though it's widget is on the top, gets rendered below the points.

[2012-02-19 22:10] #96 closed, assigned to eightysteele

[2012-02-20 07:01] eightysteele commented on #53
Closed as of ce74c7e.

[2012-02-20 07:01] #53 closed, assigned to eightysteele

[2012-02-20 16:58] eightysteele opened #99 "Initial app load time is freaking long"
With a flushed browser cache, it's taking about 25 seconds to initially load the app and download all assets. Most of that comes from downloading the `names.js` hack (see #39 and #59), but there are many other optimizations that need to happen here.

[2012-02-20 21:15] eightysteele commented on #39
So our `names.js` hack is too slow on initial load (see #99). Time to move our auto-complete queries to the server. I'm going to implement this using a `ComputedProperty` via the NDB API or just store an index using `CacheItem` where multiple items represent a name where the key is `ac-{substring}`.

[2012-02-21 04:29] gaurav commented on #48
Okay, I'm working on this now. Is there any way we can reconcile getting the cartodb_id from the server with uploading 100 features at a go? I can't think of any way of making this work as a single SQL query, unless we use SELECT ... RETURNING to put those ids into a temporary table and download it from there.

For now, I think I'll ignore the cartodb_id and just keep track of the rows in a file w

[2012-02-21 04:45] eightysteele commented on #48
For points, keeping track of rows is fine. For polygons, you'll need something like the SQLite solution above with exponential backoff and retries (see the email I sent you about this).

Also, FWIW, I'd use the `RETURNING` in conjunction with an `INSERT` (not with a `SELECT`):

[code]

[2012-02-21 04:50] gaurav commented on #48
My bad: I meant INSERT, not SELECT. Hmm, okay. At the moment, we're doing

[code]

So I'm going to have to change this to

[code]

Right?

[2012-02-21 04:52] eightysteele commented on #48
Not sure, so you'll have to play with it for a bit. Just run a leetle experiment using the SQL console on our CDB instance, and then post your results to this issue.

[2012-02-22 05:06] #39 closed, assigned to eightysteele

[2012-02-22 05:07] eightysteele commented on #58
Closed in 4aa81e0

[2012-02-22 05:07] #58 closed, assigned to jmalczyk

[2012-02-22 06:25] eightysteele opened #100 "Autocomplete search on partial"
An autocomplete for `abroc` returns:

[code]

Right now, searching for `abroc` would return no results (you only get results when you select one of the full autocompleted names like `Abrocoma cinerea` for example).

What we want is to search for `abroc` and get all the autocompleted search results.

To make this work, replace `AutocompleteName` with `CacheItem` and have the backend populate the ca

[2012-02-23 09:45] gaurav commented on #48
Okay, so I decided to ignore cartodb_row_ids for now. The current algorithm for this process is:
1. Before preparing a feature (i.e. converting that feature into an SQL string), check to see if a local SQLite database has an entry corresponding to the source (or provider, as some parts of the source code still refers to it, see issue #7), collection, filename, and the name of the table we're uploa

[2012-02-23 15:51] eightysteele commented on #48
I think you got the link wrong to working code?

[2012-02-24 03:02] gaurav commented on #48
Does it not work for you? Most of the relevant changes are in https://github.com/MapofLife/MOL/commit/ca542c0202425c88f673bf3e390ff530440c0800

[2012-02-24 03:44] eightysteele commented on #48
Oops, my bad, the link works.

[2012-02-24 05:11] robgur opened #101 "Autocomplete should work on searches beyond the first one"
Right now, autocomplete only works when you first search.  Subsequent searches (at least on Chrome) don't have autocompletion.

[2012-02-24 05:13] eightysteele commented on #101
Are you testing this on localhost or canary? If canary, we're bulkloading autocompletes there, so it'll be unstable for a bit.

[2012-02-24 05:17] robgur commented on #101
Yeah canary... good to know.

[2012-02-24 05:19] eightysteele commented on #101
I'll send out a message, but generally canary is unstable. Closing issue.

[2012-02-24 05:19] #101 closed, assigned to eightysteele

[2012-02-24 17:39] eightysteele commented on #56
Right now points are rendered as image sprites for performance which means rendering uncertainty with Carto isn't possible yet. When dynamic sprite URLs are supported (https://github.com/Vizzuality/cartodb/issues/471) we'll be able to serve dynamically generated point radius sprites.

Removing release milestone and priority.

[2012-02-24 17:39] #56 closed, assigned to eightysteele

[2012-02-24 18:24] #100 closed, assigned to eightysteele

[2012-02-25 05:01] #59 closed, assigned to gaurav

[2012-02-25 14:24] eightysteele opened #102 "Auto-complete show scientific and English names"
In the auto-complete drop-down window visually identify Scientific (and Genus/Family) names from English names by showing them in italics.

[2012-02-25 15:52] #102 closed, assigned to nobody

[2012-02-25 23:05] gaurav opened #103 "loader.py should support controlled vocabularies"
At some point, we'd like loader.py to support controlled vocabularies. I actually have what used to be working code for this in branch `issue9` (https://github.com/MapOfLife/MOL/tree/issue9), but since this is low priority, and will slow loader.py down a little, I decided not to merge it in until after the big uploads are done. It's still sitting there, waiting to be picked up, but I don't think t

[2012-02-25 23:06] gaurav commented on #103
Previously listed and discussed in our old issues tracker at https://github.com/andrewxhill/MOL/issues/108 - my implementation uses a Google Fusion Table which lists all possible values for controlled vocabulary fields.

[2012-02-25 23:07] gaurav commented on #9
I've created issue #103 to handle the general case (i.e. controlled vocabularies in fields apart from `type`). The specific case (for `type`) has been fixed in @f3d3de866c8a0. Since that's done, I'll close this issue.

[2012-02-25 23:07] #9 closed, assigned to gaurav

[2012-02-26 00:05] gaurav commented on #10
I just rechecked this. At the moment, cartodb-python uses `urllib.urlencode` to convert the content into an `application/x-www-form-urlencoded` POST body, which can't handle Unicode at the moment.

Then I accidentally fixed this by using `unicode_str.encode('ascii', 'xmlcharrefreplace')`, which converts Unicode into its corresponding character entity (i.e. `\u1234` becomes `&#x1234`). Much to my s

[2012-02-26 00:15] gaurav commented on #89
As of @3860ad2238412, `OccCode` has been added to rangemaps at least. I'll monitor the next rangemaps upload and make sure they're getting through.

[2012-02-26 01:06] gaurav commented on #76
Done in @8850c5277b00b7. I've set minx, miny, maxx and maxy as `DOUBLE PRECISION` data in PostgreSQL (through the MoL Field Specification); however, PostGIS uses `float4`s instead of `float8`s to store the bounding box (see http://postgis.refractions.net/documentation/manual-1.4/ST_Envelope.html); they say it's easier to index. So maybe we should reduce precision on our end, too? We'll have to be

[2012-02-26 04:14] eightysteele commented on #89
Definitely coordinate with @jmalczyk on range map uploads.

[2012-02-26 04:15] eightysteele commented on #76
7 decimals is what we want. Good stuff!

[2012-02-28 09:15] gaurav commented on #76
For now, I'm turning this off so we don't need to change the database schema. But all the code is in! You just need to undo commit @c8f3a70.

[2012-02-28 13:53] eightysteele commented on #76
On the UI side right now we're sending an extent query to CDB and caching results. Closing issue.

[2012-02-28 13:53] #76 closed, assigned to gaurav

[2012-02-29 03:58] eightysteele commented on #71
Done with the following Carto:

[code]

Closing issue.

[2012-02-29 17:21] robgur commented on #71
We need a way to provide a table legend for these stylings so people understand what the coloration means.  For next deadline March 6th?

[2012-02-29 17:22] walterj commented on #71
Still can't see them. Can anyone give an example that works?

-----Original Message-----
From: Rob [mailto:reply@reply.github.com]
Sent: Wednesday, February 29, 2012 12:21 PM
To: Jetz, Walter
Subject: Re: [MOL] CartoCSS conditional styling (#71)

We need a way to provide a table legend for these stylings so people understand what the coloration means.  For next deadline March 6th?

---

Reply to t

[2012-02-29 17:25] eightysteele commented on #71
@robgur - I'll add a task to BC.

@walter - The Carto update is on our new polygon table that isn't yet wired into the UI. We're waiting for bulkloading to finish up.

[2012-03-01 08:56] gaurav opened #104 "Make loader.py's recovery faster by doing per-file calculations"
At the moment, loader.py's recovery (time taken to continue a partially completed upload) is pretty slow, because it goes through each feature individually while checking it against status.sqlite3 (as per issue #48). Instead, we should download the number of features in every file (either at one shot at the start of the upload, or file-by-file as the upload proceeds), then come up with some way of

[2012-03-01 20:21] eightysteele commented on #104
Closing issue since we're moving away from bulkloading over the CDB SQL API.

[2012-03-01 20:21] #104 closed, assigned to gaurav

[2012-03-01 20:23] #91 closed, assigned to codyschank

[2012-03-01 20:24] eightysteele commented on #89
Range maps have seasonality now, closing issue.

[2012-03-01 20:24] #89 closed, assigned to gaurav

[2012-03-01 20:24] #84 closed, assigned to gaurav

[2012-03-01 20:25] eightysteele commented on #49
Closing issue since we're moving away from bulkloading over the SQL API.

[2012-03-01 20:25] #49 closed, assigned to gaurav

[2012-03-01 20:26] eightysteele commented on #48
Closing issue. We're moving away from bulkloading over SQL API.

[2012-03-01 20:26] #48 closed, assigned to gaurav

[2012-03-01 20:27] eightysteele commented on #69
This was intended to surface the data statistics which are covered by the taxonomy dashboard. Closing issue.

[2012-03-01 20:27] #69 closed, assigned to eightysteele

[2012-03-01 20:28] eightysteele commented on #97
Fixed by #44.

[2012-03-01 20:28] #97 closed, assigned to bernardw

[2012-03-01 20:29] eightysteele commented on #75
Fixed as of 26a933daca905cfc902dc8fb0e1fd1512dd33a2a

[2012-03-01 20:29] #75 closed, assigned to eightysteele

[2012-03-01 20:30] eightysteele commented on #99
Fixed as of 9f31e5d by removing the names.js hack.

[2012-03-01 20:30] #99 closed, assigned to eightysteele

[2012-03-01 20:45] eightysteele opened #105 "Tile caching"

[2012-03-01 21:25] eightysteele opened #106 "Cross browser check"
FF, Safari, EE8+, Chrome

[2012-03-01 22:55] #105 closed, assigned to eightysteele

[2012-03-02 16:52] robgur commented on #71
changing transparency resets color to "green" from whatever style it has (on Chrome)

[2012-03-02 16:54] eightysteele commented on #71
Yep good catch. It's a quick fix, we just need to filter polygon coloring in the `style` parameter of the tile request.

[2012-03-07 22:52] gaurav commented on #98
In some cases, it does the right thing, but if you flip the polygon and point datasets, you do see this bug sometimes.

[2012-03-14 23:28] gaurav commented on #98
Also observed in 'Parotomys brantsii'.

[2012-03-15 00:04] eightysteele commented on #98
Yep, it's a general problem not specific to a species.

[2012-03-16 21:13] gaurav commented on #98
Here's my steps-to-reproduce:
1. When setting up your testing instance, make sure you have a species which has a GBIF points map as well as a rangemap (I'm using "Parotomys brantsii" for testing).
2. Add both the points and polygon maps by searching for the species (by scientific or common name).
3. Switch the layers in the UI on the upper right corner until range maps is "above" (i.e. closer to t

[2012-03-17 03:39] jmalczyk commented on #83
Done. It'll need to be done again when the new CDB features come in April, but that's a new issue.

[2012-03-17 03:39] #83 closed, assigned to jmalczyk

[2012-03-22 15:18] jmalczyk opened #107 "Click events on gmap control container divs aren't passed through to the map."
When a control is placed on the map, regions within the map control div (which often include areas outside the visible MOL control display it contains) catch mouse click and drag events. The expected behavior is a map interaction (drag pan, click query, right click query, etc). When many controls are visible, it makes interacting with the map difficult, especially on a small screen. We need to bri

[2012-03-22 16:36] jmalczyk commented on #107
Fixed with css pointer-events: none

[2012-03-22 16:36] #107 closed, assigned to jmalczyk

[2012-07-02 01:18] #106 closed, assigned to jmalczyk

[2012-07-02 01:18] #98 closed, assigned to gaurav

[2012-07-02 01:20] #12 closed, assigned to gaurav

[2012-07-02 01:20] #21 closed, assigned to nobody

[2012-07-02 01:20] #25 closed, assigned to gaurav

[2012-07-02 01:20] #26 closed, assigned to gaurav

[2012-07-02 01:20] #27 closed, assigned to gaurav

[2012-07-02 01:20] #31 closed, assigned to eightysteele

[2012-07-02 01:20] #45 closed, assigned to gaurav

[2012-07-02 01:20] #55 closed, assigned to eightysteele

[2012-07-02 01:20] #65 closed, assigned to jmalczyk

[2012-07-02 01:20] #66 closed, assigned to gaurav

[2012-07-02 01:20] #71 closed, assigned to eightysteele

[2012-07-02 01:20] #80 closed, assigned to walterj

[2012-07-02 01:20] #81 closed, assigned to gaurav

[2012-07-02 01:20] #82 closed, assigned to walterj

[2012-07-02 01:20] #85 closed, assigned to nobody

[2012-07-02 01:20] #88 closed, assigned to jmalczyk

[2012-07-02 01:20] #90 closed, assigned to jmalczyk

[2012-07-02 01:20] #94 closed, assigned to nobody

[2012-07-02 01:20] #95 closed, assigned to nobody

[2012-07-02 01:20] #4 closed, assigned to gaurav

[2012-07-02 01:20] #5 closed, assigned to gaurav

[2012-07-02 01:20] #7 closed, assigned to gaurav

[2012-07-02 01:21] #103 closed, assigned to gaurav

[2012-07-02 01:23] #10 closed, assigned to gaurav

[2012-07-20 21:44] jmalczyk opened #114 "Break up species list logic into functions."
The species list 'species-list-query-results' event hander has a lot going on in it. This needs to be broken up into more manageable chunks.

[2012-08-09 03:25] eightysteele opened #115 "Penguins"
All Emperor Penguin records (which are supposed to be in the Antarctic) are _above_ the Antarctic, and in the water, as opposed to on land. If you look at the points, it seems to me they are clearly offset. Search on "Aptenodytes forsteri".

[2012-08-09 14:09] jmalczyk commented on #115
Those points are correct.

http://www.argos-system.org/doc/argos/documents/publications/newsletter/nslan48/emperor_pinguin_en.html

The problem seems to be that CartoDB will only draw web mercator tiles as far south as 63 S. Probably related to this:

https://github.com/Vizzuality/cartodb/issues/737

I'll ping them on on it.

[2012-08-09 14:13] eightysteele commented on #115
Good catch.

On Thu, Aug 9, 2012 at 7:09 AM, Jeremy Malczyk notifications@github.comwrote:

[2012-08-31 18:19] jmalczyk opened #124 "Make a color/style picker widget for map layers."
We need a little pop-up styler that allows the user to choose some map styles to apply to a layer. It just needs to generate some cartoCSS and apply it using the "apply-layer-style" event in mol.map.tiles.js.

[2012-08-31 18:26] jmalczyk opened #125 "Get default layer opacity and style from the database."
Default opacities are hard coded according to layer type in javascript. Default styles are also hard coded there via selection of a cartodb table that has the styles assigned to it (style_table).
All of this style should be registered to datasets, types, and providers in the database and pulled from there by the search widget when layer metadata is initially retrieved..

[2012-08-31 18:31] jmalczyk opened #126 "Replace SQL in boot and search modules with stored function"
These queries should be moved to the backend.

[2012-09-10 20:05] jmalczyk commented on #114
Fixed in 887458de21dcdee5b4ace647e38797932ddca512

[2012-09-10 20:05] #114 closed, assigned to nobody

[2012-10-17 17:30] tomauer commented on #124
I'm going to start working on this for longer term.

[2012-10-17 17:49] tomauer commented on #124
Where and what was listening for the 'apply-layer-style' event?

[2012-10-17 19:41] jmalczyk commented on #124
mol.map.tile.js -- the module that handles adding tile layers through the
gmaps api.

On Wed, Oct 17, 2012 at 1:49 PM, Tom Auer notifications@github.com wrote:

[2012-10-24 16:21] tomauer commented on #125
The opacities part of this is apparently taken care of.

[2012-11-27 18:05] tomauer commented on #124
This has been merged into develop. Closing this issue.

[2012-11-27 18:05] #124 closed, assigned to jmalczyk

[2012-11-27 18:05] tomauer commented on #125
Has been handled in the recent layer widget merge.

[2012-11-27 18:05] #125 closed, assigned to jmalczyk

[2012-11-28 21:00] tomauer opened #175 "Send seasonalities and presence on layer object"
When extents and counts are calculated, also pass in a list of seasonalities and whether or not a layer has presence data. This will allow us to let the layer styling controls be more agnostic of data type in the client.

[2013-01-28 19:44] jmalczyk opened #183 "Jquery JSONP requests are not getting cached by CloudFront"
A JSON-P request issued by jQuery assigns a callback=somerandomnumber parameter, so as not to conflict with other calls that could potentially be happening at the same time. Unfortunately this means a sql result is never cached. Fortunately the same problem does not exist for tiles, image sources can be assigned cross-domain.

The solution is to explicitly set a callback function name instead of l

[2013-08-12 15:01] benscarlson opened #190 "Species list tool returns ambiguous synonyms"
The species list tool should not return ambiguous synonyms.  See discussion here:

https://basecamp.com/1756489/projects/1389682-database/messages/14176282-species-list-tool

[2013-08-12 17:48] jmalczyk commented on #190
Actually I think for search results the rules may be different -- at least,
ambiguous synonym support was intentionally added.

On Mon, Aug 12, 2013 at 11:01 AM, santoshamb notifications@github.comwrote:

[2013-08-12 17:52] robgur commented on #190
I think we need to keep "search for map products" and "species list search"
separate.  The idea was to turn off ambiguous names for "species list
search" and keep ambiguous search results for the "search for map
products".  Gaurav is at the American Ornithological Union meetings (god
help them all) and once back, I am hoping we can set up a clear document
about how to proceed with name validation

[2013-08-12 18:02] benscarlson commented on #190
Sorry, badly worded issue.  That should be "Species list tool". I've changed the name.

[2013-08-15 20:58] benscarlson opened #191 "GBIF data contains point centriods for South African Bird Atlas"
GBIF at some point ingested the South African Bird Atlas, and has centroid points for each grid square.  Since MOL also has the South African Bird Atlas, the GBIF versions are not required.

[2013-08-15 21:06] robgur commented on #191
Lets get the resourceID and add that to the filter we already have when
processing GBIF points that gets rid of eBird data...

On Thu, Aug 15, 2013 at 2:58 PM, santoshamb notifications@github.comwrote:

[2013-09-05 02:50] gaurav opened #192 "Searching appears to be searching within canonical names"
If you search Map of Life for "Troglodytes troglodytes", it matches "Cisticola troglodytes troglodytes", which is a type of bird. Are we matching the substring? Are there any cases in which we need this behavior?

[2013-09-17 06:32] gaurav opened #193 "Linking directly to a search doesn't work for me"
I've tried accessing http://www.mappinglife.org/Socratea%20exorrhiza (the URL mentioned in our April blog post) on Firefox, Safari and Opera on the Mac, and couldn't get it to work: it won't display the splash dialog, but it won't start the search either. Is this just a Mac thing maybe?

[2013-09-17 06:38] robgur commented on #193
looks like its broken....

On Tue, Sep 17, 2013 at 12:32 AM, Gaurav Vaidya notifications@github.comwrote:

[2013-09-17 16:11] jmalczyk commented on #193
Yes, it is broken for that species. I'll look into it.

On Tue, Sep 17, 2013 at 2:38 AM, Rob notifications@github.com wrote:

[2013-09-17 17:21] jmalczyk commented on #193
Fixed this in 37a6d85cf21a62d1d9bc0c12b5a338b0d105174c

On Tue, Sep 17, 2013 at 12:10 PM, Jeremy Malczyk jmalczyk@gmail.com wrote:

[2013-09-17 17:21] #193 closed, assigned to nobody

[2013-12-05 22:12] benscarlson opened #194 "Change layer source to pull from dashboard_metadata"
Change layer source to pull from dashboard_metadata.  see issue with banhine_herps.

The issue here is that we pull layer information from the provider table. However, this approach does not work if there are multiple layers from the same provider.  The solution is to pull layer information from the dashboard_metadata table, which contains layer-level information.

[2013-12-05 22:14] benscarlson opened #195 "add pub_date field to dashboard_metadata"
Related to #194, layer information should be removed from the provider table.  This means that pub_date should be located in dashbord_metadata instead of the provider table.

[2016-07-23 07:31] feldrim opened #202 "Translation to other languages"
The mobile app supports a number of languages. How can we help in translation in other languages -Turkish in my case, at least for UI?

Is it possible to manage it on a repository on github using some dictionary files? Or should it be handled by using some translation support platforms like transifex?

[2016-07-23 17:43] funkycoda commented on #202
Hi @feldrim,

We are currently in the process of re-evaluating our translation platform both for mobile as well as the web. This process will allow us to expand Map of Life into other languages. We will keep you posted when we have come up with a solution, if you would like to translate it into Turkish.

Cheers